@model Celeste.R9.Estructura.Negocio.Empleado
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Empleados</h2>
    </div>
</div>
<hr />

<div class="row">
    @using (Html.BeginForm("GetAll", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row align-items-start">

                <div class="col">
                    <div class="form-group-sm">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre", @onkeypress = "SoloLetras(event,'lblNombre','txtNombre)" })
                        @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col">
                    <div class="form-group-sm">
                        <input type="submit" value="Buscar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-3" style="float:right">
        <a><input id="idAgregar" type="submit" value="Agregar" class="btn btn-success col-md-4" onclick="" /></a>
    </div>
</div>

@using (Html.BeginForm("From", "Empleado", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row g-3" id="input" style="display:none;">
        <div class="col-md-6">
            <div class="input-group">
                <div class="row">
                    @Html.TextBoxFor(model => model.EmpleadoID, new { @class = "hidden" })
                    @Html.ValidationMessageFor(model => model.EmpleadoID)
                </div>
                <br />
                <div class="row">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "visually-hidden form-control" })
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
                <br />
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.Puesto)
                    @Html.DropDownListFor(model => model.Puesto.PuestoID, new SelectList(Model.Puesto.Puestos, "PuestoID", "Descripcion"),
                    "Selecciona un Puesto", new { @class = "form-control", @id = "ddlPuesto" })
                </div>
                <br />
                <div class="form-group-sm">
                    @Html.LabelFor(model => model.Departamento)
                    @Html.DropDownListFor(model => model.Departamento.DepartamentoID, new SelectList(Model.Departamento.Departamentos,
                "DepartamentoID", "Descripcion"), "Selecciona un Departamento", new { @class = "form-control", @id = "ddlDepartamento" })
                </div>
                <br />
                <div class="center-block ">
                    <button class="btn btn-success" type="submit">agregar</button>
                    @*@Html.ActionLink("Agrega", "From", "Empleado", htmlAttributes: new { @class = "btn btn-success" })*@
                </div>
            </div>
        </div>
    </div>
}


<hr />
<div class="row">
    @if (Model.Empleados != null)
    {
        //crear tabla
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>

                    @*se crean las columnas de la entidad Usuario*@
                    <td class="hidden">IdUsuario</td>

                    <td class="text-center" style="font-weight:bold;">Nombre</td>
                    <td class="text-center" style="font-weight:bold;">Puesto</td>
                    <td class="text-center" style="font-weight:bold;">Departamento</td>

                    @*se crea una columna eliminar tomara como referencia el Id de la entidad*@
                    <td class="text-center" style="font-weight:bold;">Eliminar</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Celeste.R9.Estructura.Negocio.Empleado empleado in Model.Empleados)
                {
                    <tr>

                        <td class="hidden">@empleado.EmpleadoID</td>
                        <td>@empleado.Nombre</td>
                        <td>@empleado.Puesto.Descripcion</td>
                        <td>@empleado.Departamento.Descripcion</td>
                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete","Empleado",new {EmpleadoID = empleado.EmpleadoID})" onclick="return confirm('Estas seguro de Eliminar el registro?');"></a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger" role="alert">Ocurrio un error al consultar los registro</div>
    }
</div>


@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script type="text/javascript">
        $('#idAgregar').click(function () {
            $('#input').toggle('slow', function () {
            });
        });
    </script>
}